# OS
.DS_Store

# IDE
.vscode
.idea

# Python
__pycache__
*.pyc
.env
.venv
venv
env/

# Node.js
node_modules/

# Logs
logs/
*.log

# Build
dist/
build/

# Temporary files
*.tmp
*.temp

# Env
.env

# Assets
assets/now/*
!assets/now/.gitkeep
assets/history/*
!assets/history/.gitkeep

# Other
.DS_Store